DB_DIALECT=
DB_DRIVER=
DB_ASYNC_DRIVER=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DATABASE=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
GOOGLE_CLIENT_ID=your_client_id_here
GOOGLE_CLIENT_SECRET=your_client_secret_here
GOOGLE_REDIRECT_URI=https://server.snutoto.o-r.kr/api/auth/google/callback
REDIS_URL=redis://localhost:6379
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=snutoto.waffle@gmail.com
SMTP_PASSWORD=구글_앱_비밀번호
S3_AWS_ACCESS_KEY_ID=
S3_AWS_SECRET_ACCESS_KEY=
S3_AWS_REGION=ap-northeast-2
S3_BUCKET_NAME=